// Custom styles.
code {
  color: #ff7600;
  margin: 2px;
}

// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// 评论框链接文本样式
.vcontent a {
  color: #1abc9c !important;
  border-bottom: none;
}

.vcontent a:hover {
  color: #d7191a !important;
}

th {
  text-align: center;
}
